.jerboa88-Tally-modal * {
	border: none;
	margin: none;
	padding: 0;
	background: transparent;
	color: #000;
	font-size: 18px;
	line-height: normal;
}

.jerboa88-Tally-modal {
	position: fixed;
	top: -100%;
	left: 37%;
	right: 37%;
	height: 50%;
	padding: 1.2em;
	font-family: 'Open Sans', 'Segoe UI', Tahoma, Verdana, sans-serif;
	font-size: 14px;
	text-align: center;
	background: #fff;
	border-radius: .8em;
	-webkit-box-shadow: .05em .05em .1em rgba(0,0,0,.5);
	box-shadow: .05em .05em .1em rgba(0,0,0,.5);
	-webkit-transition: top .5s;
	-o-transition: top .5s;
	transition: top .5s;
	z-index: 9999;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.jerboa88-Tally-modal-open {
	top: 20%;
}

.jerboa88-Tally-modal-open > h2, .jerboa88-Tally-modal-open > p, .jerboa88-Tally-modal-open > a {
	color: #111;
	text-shadow: none;
}

.jerboa88-Tally-modal-open > .jerboa88-Tally-modal-table > output {
	-webkit-user-select: all;
	-moz-user-select: all;
	-ms-user-select: all;
	-o-user-select: all;
	user-select: all;
}

.jerboa88-Tally-modal > button {
	background: #2196F3;
	color: #fff;
	border: none;
	border-radius: .4em;
	-webkit-box-shadow: .05em .05em .1em rgba(0,0,0,.5);
	box-shadow: .05em .05em .1em rgba(0,0,0,.5);
	margin-top: 2em;
	padding: .8em 2em;
}

.jerboa88-Tally-modal > button:hover {
	opacity: .8;
}

.jerboa88-Tally-modal > h2, .jerboa88-Tally-modal > h5 {
	cursor: default;
}

.jerboa88-Tally-modal > button, .jerboa88-Tally-modal > output {
	cursor: pointer;
}

.jerboa88-Tally-modal-table {
	display: -ms-grid;
	display: grid;
	-webkit-box-flex: 1;
					-ms-flex: 1;
							flex: 1;
	-ms-grid-columns: auto auto;
	grid-template-columns: auto auto;
	-ms-grid-rows: auto auto auto auto auto auto auto auto;
	grid-template-rows: auto auto auto auto auto auto auto auto;
	justify-content: center;
	align-items: center;
	margin: auto;
	padding: .2em;
	font-size: 1.7em;
	text-align: left;
}

.jerboa88-Tally-modal > h2 {
	font-size: 28px;
	border-bottom: 1px solid #000;
}

.jerboa88-Tally-modal-table > h5 {
	margin: 0 .8em 0 0;
	font-weight: bold;
}

.jerboa88-Tally-modal > h2, .jerboa88-Tally-modal-table > output {
	font-weight: lighter;
}

.jerboa88-Tally-modal-table > h5, .jerboa88-Tally-modal-table > output {
	font-size: 20px;
}

.jerboa88-Tally-modal > button {
	font-size: 14px;
}
